create newroom css

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.room-form {
    max-width: 80%;
    margin: 50px;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #999;
    border-radius: 5px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    text-align: center;
    color: #333;
}

input{
    display: block;
    width: 150px;
    margin-bottom: 10px;
}
 label {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.subbtn{
    margin-top: 10px;
}

select{
    width: 150px;

}

@media screen and (min-width: 800px) {
    .room-form {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}